.note {
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 10px;

  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button{
  border: 0;
  background-color: transparent;
  color:  rgb(163, 163, 0);
 
  float: right;
}
